@page "/stocks"

@rendermode InteractiveWebAssembly

<PageTitle>Stocks</PageTitle>


<h3>Stocks</h3>

@if (_quoteCache.Any())
{
    <div class="row">

    @foreach (var symbol in _availableSymbols)
    {
        <div class="col-3">
            <TickerDetail Symbol="@symbol" Quotes="@_quoteCache[symbol]" />
        </div>
    }

    </div>
}
