@page "/scores"
@* @rendermode InteractiveServer *@
@rendermode InteractiveWebAssembly
@namespace BlazorSseClient.Demo.Client.SportsScores

<div class="marquee-wrapper overflow-hidden position-relative">
    <div class="marquee-track d-inline-flex gap-4">
        @foreach (var score in _scores)
        {
            <div class="score-item text-nowrap">
                <span class="fw-bold">@score.HomeTeam</span> @score.HomeScore -
                <span class="fw-bold">@score.AwayTeam</span> @score.AwayScore
            </div>
        }
    </div>
</div>







