@page "/scores"
@* @rendermode InteractiveServer *@
@rendermode InteractiveWebAssembly
@namespace BlazorSseClient.Demo.Client.SportsScores

<div class="marquee-wrapper overflow-hidden position-relative">
    <div class="marquee-track d-inline-flex gap-4">
        @foreach (var score in _scores)
        {
            <Score ScoreModel="score" />
        }
    </div>
</div>







