@page "/scores"
@* @rendermode InteractiveServer *@
@rendermode InteractiveWebAssembly
@namespace BlazorSseClient.Demo.Client.SportsScores

<div class="conveyor-belt-container">
    <div class="conveyor-belt-track">
        @foreach (var item in GetActiveItems())
        {
            <div class="conveyor-belt-item" 
                 @key="item.ItemId"
                 data-item-id="@item.ItemId"
                 style="animation-delay: @(GetAnimationDelay(item))ms">
                <Score ScoreModel="item.Score" />
            </div>
        }
    </div>
</div>







