@namespace BlazorSseClient.Demo.Client.ConnectionState

<h4 class="title">Connection State</h4>

<ConnectionStateStatus @rendermode="InteractiveServer" />
<ConnectionStateStatus @rendermode="InteractiveWebAssembly" />