@namespace BlazorSseClient.Demo.Client.ConnectionState

<h5 class="render-location-header">@_renderLocation Rendered</h5>

<div class="state-container">
    <div class="state-label">State:</div>
    <div class="state-value">@_currentConnectionState</div>
</div>

<div class="state-container">
    <div class="state-label">Lifecycle:</div>
    <div class="state-value">@_currentLifecycleState</div>
</div>
